html {
	height:100%;
	padding-bottom: 40px;
}

body {
	font-family: 'Oswald', sans-serif;
	background-color:#7ec142; /* Old browsers */
	background: -moz-linear-gradient(top, #95d35e 0%, #7ec142 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #95d35e 0%,#7ec142 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #95d35e 0%,#7ec142 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

h1 {
	font-size: 48px;
	margin: 0;
}

.wrapper {
	margin:0 auto;
	margin-top: 20px;
	display:table;
	position: relative;
}

.top-text {
	display:table-caption;
	color:#ffffff;
	padding-bottom: 12px;
}

.white-box {
	background-color: #f9f9f9;
	padding:40px;
	border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,.3);
	display:table-cell;
}

.input-form {
	margin:0px 15px 0 15px;
	font-family: sans-serif;
	min-width: 336px;
	font-family: 'Oswald', sans-serif;
}

.preview {
	background-color: #ffffff;
	padding:20px;
	margin:15px;
	border: 1px solid #bfc0be;
	display: inline-block;
	border-radius: 2px;
}

form input {
	margin-bottom: 12px;
	padding:8px 12px;
	float: left;
	width: calc(100% - 77px);
	border: 1px solid #bfc0be;
	box-shadow: none;
	transition: box-shadow ease .1s;
	outline:none;
	border-radius: 2px;
}

form input:focus, form input:hover {
	box-shadow: 1px 1px 1px rgba(0,0,0,.2);
	transition: box-shadow ease .1s;
}

form label {
	font-weight: bold;
	color:#555;
	float: left;
	width:50px;
	padding-top:5px;
	font-size: 14px;
}

form br {
	clear: both;
}

form button {
	margin-left: 60px;
	padding:8px 12px;
	border-radius: 2px;
	border-image: none;
	outline:none;
	border: 1px solid #bfc0be;
	box-shadow: none;
	transition: box-shadow ease .1s;
	float: right;
}

.clearfix {
	content: " ";
	clear: both;
	display: block;
}

form button:hover {
	box-shadow: 1px 1px 1px rgba(0,0,0,.2);
	transition: box-shadow ease .1s;
}

.footer-img {
    position: absolute;
    bottom: -23px;
    right: 0;
    width: 104px;
    opacity: .7;
    transition: all ease 1s;
}

.footer-img:hover {
	opacity: 1;
    transition: all ease 1s;
}